
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   background-color: black;
   opacity: 0.5;
}
@media only screen and (min-width:992px) and (max-width:1600px){
    .carousel-caption h1{
        font-size: 60px;
     }
    
}